---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/HowItWorks.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import Review from '../components/Review.astro';
import Training from '../components/Training.astro';
import Scenario from '../components/Scenario.astro';
import Badges from '../components/Badges.astro';
import TrustedBy from '../components/TrustedBy.astro';
import Topbar from '../components/Topbar.astro';
import Modal from '../components/Modal.astro';
---

<Layout title="First Aid Training Tailored To Your Workplace – St John Ambulance NSW">
  <section class="sticky top-0 z-20">
    <Topbar />
    <Header />
  </section>
  <main>
  <Hero />
  <TrustedBy />
  <Features />
	<Review />
	<Training />
  <Scenario />
  <Badges />
  <FAQ />
  </main>
  <Footer />
  <Modal />
</Layout>
<script async defer is:inline>
  const buttons = document.querySelectorAll('.modal-trigger');
  buttons.forEach(button => button.addEventListener('click', toggleModal));

  const modal = document.getElementById('modal');

  function toggleModal(e){
    modal.ariaHidden = (modal.ariaHidden == 'true') ? 'false' : 'true';
    modal.classList.toggle('open');
    if(modal.ariaHidden == 'false'){
      document.addEventListener('keydown', e => e.key === 'Escape' && toggleModal(), { once: true });
    }
  }
</script>