---
import Image from "astro/components/Image.astro"
import logo from '../images/logos/stjohn@2x.png';
---

<header class="bg-white p-4 border-b border-gray-200 grey-20">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <img class="-mt-6 w-10" src={logo.src} alt="Logo" />
    <button
        class="modal-trigger bg-red text-white font-bold p-2 px-3 rounded-sm hover:opacity-85 focus:ring-2"
      >
    Free consultation
    </button>
  </div>
</header>