---
---
<div 
aria-hidden=true
id="modal"
class="modal-container flex flex-col justify-end fixed w-full h-screen -bottom-full z-40">
    <div onClick="toggleModal()" class="modal-overlay bg-black/70 w-screen h-screen fixed top-0 left-0 opacity-0 pointer-events-none"></div>
    <div class="modal bg-white py-4 z-20 md:opacity-0">
        <div class="px-4 pb-4 flex justify-between items-center gap-2 border-b border-gray-200">
            <h2 class="font-bold text-2xl">Get a free consultation</h2>
            <button onClick="toggleModal()" type="button" class="shrink-0 w-6 h-6">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9384 11.9991L4.96875 6.02941L6.02941 4.96875L11.9991 10.9384L17.9687 4.96875L19.0294 6.02941L13.0597 11.9991L19.0294 17.9687L17.9687 19.0294L11.9991 13.0597L6.02941 19.0294L4.96875 17.9687L10.9384 11.9991Z" fill="#141414"/>
                </svg>
            </button>   
        </div>
        <div class="p-4 overflow-y-auto modal-body">
            <form id="consultationForm" name="consultationForm" class="flex flex-col gap-6" method="POST" netlify>
                <div>
                    <label for="name" class="block mb-2 text-l font-medium text-navy">Name</label>
                    <input type="text" id="name" name="name" class="w-full px-3 py-2 text-navy border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-navy" required>
                </div>
                <div>
                    <label for="email" class="block mb-2 text-l font-medium text-navy">Email</label>
                    <input type="email" id="email" name="email" class="w-full px-3 py-2 text-navy border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-navy" required>
                </div>
                <div>
                    <label for="organisation" class="block mb-2 text-l font-medium text-navy">Organisation Name</label>
                    <input type="text" id="organisation" name="organisation" class="w-full px-3 py-2 text-navy border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-navy" required>
                </div>
                <div>
                    <label for="phone" class="block mb-2 text-l font-medium text-navy">Phone</label>
                    <input type="tel" id="phone" name="phone" class="w-full px-3 py-2 text-navy border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-navy" required>
                </div>
                <button
                        type="submit"
                        class="bg-red text-white font-bold text-xl p-4 w-full rounded-sm hover:opacity-85 focus:ring-2 md:w-auto md:px-6"
                    >Request a consultation</button>

                <div id="successMessage" class="pointer-events-auto w-full overflow-hidden rounded-lg bg-green-100 border border-green-800/20 p-4 items-start flex hidden" aria-hidden="true">
                    <div class="flex-shrink-0 pt-0.5">
                        <svg class="h-8 w-8 text-navy" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    <p class="text-lg font-bold text-navy flex ml-3 w-0 flex-1 pt-0.5">Thank you, we'll contact you within 24 hours.</p>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.modal-container,.modal-overlay{
    pointer-events: none;
    transition: all .2s ease-out;
}
.modal{
    transition: all .2s ease-out;
}
.modal-container.open{
    pointer-events: all;
    bottom:0px;
}
.modal-container.open .modal-overlay{
    opacity:1;
    pointer-events: all;
}
.modal-container.open .modal{
    @apply md:opacity-100 md:self-center md:w-full md:max-w-screen-md md:m-auto md:max-h-[90vh]
}
</style>

<script is:inline>
    const handleSubmit = (event) => {
  event.preventDefault();

  const myForm = event.target;
  const formData = new FormData(myForm);
  const submitButton = myForm.querySelector('button[type="submit"]');
  
  submitButton.disabled = true;
  submitButton.classList.add('opacity-50', 'cursor-not-allowed');

  fetch("/", {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => {
      toggleSuccess();
      submitButton.disabled = false;
      submitButton.classList.remove('opacity-50', 'cursor-not-allowed');
    })
    .catch((error) => {
      alert(error);
      submitButton.disabled = false;
      submitButton.classList.remove('opacity-50', 'cursor-not-allowed');
    });
};

const successMessage = document.getElementById('successMessage');

function toggleSuccess() {
    successMessage.ariaHidden = (successMessage.ariaHidden == 'true') ? 'false' : 'true';
    successMessage.classList.toggle('hidden');
    if(successMessage.ariaHidden == 'false'){
      const formInputs = document.querySelectorAll('form input, form textarea');
      const inputChangeHandler = () => {
        toggleSuccess();
        formInputs.forEach(input => input.removeEventListener('input', inputChangeHandler));
      };
      formInputs.forEach(input => input.addEventListener('input', inputChangeHandler, { once: true }));
    }
}

document
  .querySelector("form")
  .addEventListener("submit", handleSubmit);
</script>